<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>OMR Net {% block title %}{% endblock %}</title>

    <style>
        .jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #66737e;
    border-radius: .3rem;
  }
    </style>
</head>
<body>
    {% include 'partials/_navbar.html' %}     
        
            {% block content %}{% endblock %}

   
</body>
</html>